<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Admin</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <style>
         body {
      background-color: #f9f9f9;
    }
    .container {
      max-width: 600px;
      margin: 40px auto;
      padding: 20px;
      background-color: #fff;
      border: 1px solid #ddd;
      border-radius: 10px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
    .form-group {
      margin-bottom: 20px;
    }
    .control-label {
      font-weight: bold;
      width: 100%;
    }
    input[type="text"], input[type="email"], input[type="date"], input[type="tel"] {
      width: 100%;
      height: 40px;
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 5px;
    }
    button[type="submit"] {
      width: 100%;
      height: 40px;
      padding: 10px 20px;
      font-size: 16px;
      font-weight: bold;
      background-color: #337ab7;
      color: #fff;
      border: none;
      border-radius: 5px;
      cursor: pointer;
    }
    button[type="submit"]:hover {
      background-color: #23527c;
    }
    </style>
</head>
<body>
    <div class="container">
        <form action="/superadmin/<%= admin._id %>/editAdmin" method="post" class="form-horizontal">
            <div class="form-group">
                <label for="fullName" class="col-sm-2 control-label">Full Name:</label>
                <div class="col-sm-10">
                    <input type="text" id="fullName" name="fullName" value="<%= admin.fullName %>" required>
                </div>
            </div>
            <div class="form-group">
                <label for="username" class="col-sm-2 control-label">Username:</label>
                <div class="col-sm-10">
                    <input type="text" id="username" name="username" value="<%= admin.username %>" required>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-10 col-sm-offset-2">
                    <button type="submit" class="btn btn-primary">Update Admin Details</button>
                </div>
            </div>
        </form>
    </div>
</body>
</html>