<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Admin</title>
</head>
<body>
    <form action="/superadmin/<%= admin._id %>/editAdmin" method="post">
        <label for="fullName">Full Name:</label>
        <input type="text" id="fullName" name="fullName" value="<%= admin.fullName %>" required>
        <br>
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" value="<%= admin.username %>" required>
        <br>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" value="<%= admin.password %>" required>
        <br>
        <button type="submit">Update Admin Details</button>
      </form>
</body>
</html>